@import '../1-abstracts/colors';

footer {
    display: flex;
    padding: 1rem 1rem;
    border-top: 2px solid $color-grey;
    .footer {
         &__contact {
             h1 {
                 color: $color-bordeaux;
                 font-size: 40px;
             }
             p{
                 margin-left: 0.5rem;
                 margin-top: 1rem;
             }
            


         }

         &__nav {
             margin-top: 0.5rem;

             ul{
                 list-style: none;
                 margin-left: -2rem;
             }

             li {
                 padding: 0.5rem;
                 a {
                     text-decoration: none;
                     color: $color-black;
                 }
                 a:hover {
                     color: $color-bordeaux;
                 }
             }
             h2{
                 color: $color-bordeaux;
                 font-weight: 100;
             
                }

         .footer-form {
            margin-top: 1rem;
            border:none;
            .widget-title {
                font-size: 25px;
            }
            input {
                border-bottom: 2px solid $color-bordeaux;
                padding: 0.2rem;
                margin-left: -2%;
                margin-top: 2rem;
            }
         }
    }
    }
    
}